<link rel="stylesheet" href="../../static/css/public.css" />
<link rel="stylesheet" href="../../static/css/article.css">
<!--begin: main-->
<main class="main-container uk-width-8-10 uk-container-center">
    <article class="uk-margin-large-top">
        <h4 class="padding-top padding-bottom">关注我们</h4>

        <div>
            <p class="uk-text-bold">官方微信</p>
            <div class="uk-text-left">

                <p>官方微信二维码：</p>
                <img src="../../static/img/qr_code.jpg" alt="" />
            </div>
        </div>
    </article>
</main>
<!-- end: set address modal -->