<footer class="generic-footer">
    <div class="uk-width-9-10 uk-container-center  wrapper">
        <!--beign: footer nav-->
        <nav class="uk-navbar">
            <ul class="uk-navbar-nav uk-grid uk-grid-collapse">
                <li class="uk-width-1-7">
                    <div class="uk-h4 font-weight-bold title">
                        法律声明
                        <hr class="main-title-bottom-short-line" />
                    </div>
                    <ul class="uk-list sub-nav">
                        <li><a href="#pc/article/falvbaozhang">免责声明</a></li>
                        <li><a href="#pc/article/falvbaozhang">知识产权声明</a></li>
                        <li><a href="#pc/article/falvbaozhang">隐私权声明</a></li>
                    </ul>
                </li>
                <li class="uk-width-1-7">
                    <div class="uk-h4 font-weight-bold title">
                        付款方式
                        <hr class="main-title-bottom-short-line" />
                    </div>
                    <ul class="uk-list sub-nav">
                        <!--<li><a href="#pc/article/zhifufangshi">银联支付</a></li>-->
                        <li><a href="#pc/article/zhifufangshi">支付宝支付</a></li>
                        <li><a href="#pc/article/zhifufangshi">微信支付</a></li>
                    </ul>
                </li>
                <li class="uk-width-1-7">
                    <div class="uk-h4 font-weight-bold title">
                        合作伙伴
                        <hr class="main-title-bottom-short-line" />
                    </div>
                    <ul class="uk-list sub-nav">
                        <!--<li><a href="http://www.autoask.com/admin/partner/index.html">合作商</a></li>-->
                        <li><a href="http://www.autoask.com/admin/serviceProvider/index.html"  target="_blank">服务店登录</a></li>
                        <li><a href="http://www.autoask.com/admin/factory/index.html"  target="_blank">合作工厂登陆</a></li>
                    </ul>
                </li>
                <li class="uk-width-1-7">
                    <div class="uk-h4 font-weight-bold title">
                        消费者保障
                        <hr class="main-title-bottom-short-line" />
                    </div>
                    <ul class="uk-list sub-nav">
                        <li><a href="#pc/article/xiaofezhebaozhang">品质保障</a></li>
                        <li><a href="#pc/article/xiaofezhebaozhang">发货时间</a></li>
                        <li><a href="#pc/article/xiaofezhebaozhang">退货承诺</a></li>
                    </ul>
                </li>
                <li class="uk-width-1-7">
                    <div class="uk-h4 font-weight-bold title">
                        帮助中心
                        <hr class="main-title-bottom-short-line" />
                    </div>
                    <ul class="uk-list sub-nav">
                        <li><a href="#pc/help/how_select">如何选择</a></li>
                        <li><a href="#pc/help/how_buy">如何购买</a></li>
                        <li><a href="#pc/help/how_pay">如何付款</a></li>
                    </ul>
                </li>
                <li class="uk-width-1-7">
                    <div class="uk-h4 font-weight-bold title">
                        联系方式
                        <hr class="main-title-bottom-short-line" />
                    </div>
                    <ul class="uk-list sub-nav">
                        <li>客服邮箱：service@autoask.com</li>
                        <li>客服QQ ：2189712904</li>
                    </ul>
                </li>
                <li class="uk-width-1-7">
                    <div class="uk-h4 font-weight-bold title">
                     <a href="#/pc/article/concern">关注我们</a>

                <hr class="main-title-bottom-short-line" />
                        <div class="qr-code uk-margin-top">
                            <img src="../../static/img/qrcode_for_gh_f99af4616812_258.jpg" alt="" />
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <!--end: footer nav-->
        <div class="uk-text-left uk-margin-large-top copyright">
            <hr  class="main-title-bottom-short-line" />
            <p style="margin-left: -12px">版权所有©2016 南京爱思客汽车用品有限公司</p>
            <p style="margin-left: -12px">苏ICP备案号16038536号</p>
        </div>
    </div>
</footer>