<link rel="stylesheet" href="../../static/css/article.css">

<!--begin: main-->
<main class="main-container uk-width-8-10 uk-container-center">
    <article class="uk-margin-large-top">
        <h4 class="padding-top padding-bottom"><i class="icon"></i>AUTOASK年底大促销</h4>
        <div class="commercial-activity">
            <div class="commercial-activity-bg"><img src="http://www.getuikit.net/docs/images/placeholder_800x400_3.jpg" alt="" /></div>
            <section class="uk-width-1-2 commercial-activity-cotent">
                <h5 class="uk-margin-large-bottom font-weight-bold">汽车制造商为什么选择美孚1号?</h5>
                <p>无论您驾驶何种车辆，润滑油都至关重要。合适的润滑油让您的爱车表现卓越。</p>
                <p>不论您的汽车或卡车需要的是合成润滑油还是传统润滑油——甚至是摩托车油或者竞赛用油，特别配制的美孚润滑油都能助您的爱车表现优异</p>

                <p class="uk-margin-large-top font-weight-bold">活动时间：2016年11月11日 10:00开始</p>
            </section>
        </div>
    </article>
</main>
<!--end: main-->