<link rel="stylesheet" href="../../static/css/pay.css"/>

<link rel="stylesheet" href="../../static/css/pay.css"/>

<!--begin: main-->
<main class="main-container">
    <div class="wrapper uk-text-center padding-large-top">
        <div id="pay-qr-code" class="qr-code-wrap"></div>
        <p class="uk-h3 uk-text-bold">您需要扫码支付{{paySerial.payPrice}}元</p>
        <!--<p class="font-weight-bold">支付成功,再继续逛逛吧</p>
        <p><a class="uk-button button-radius-remove btn-index-page">回到首页</a></p>-->
    </div>
</main>
<!--end: main-->
<script type="text/javascript" src="../../static/lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../static/lib/jquery.qrcode.min.js"></script>