<link rel="stylesheet" href="../../static/css/pay.css" />

<!--begin: main-->
<main class="main-container">
    <div class="wrapper uk-text-center padding-large-top">
        <p><img src="../../static/img/icon_false.png" alt="支付失败了">
            <span  class="font-weight-bold pay_false">支付失败</span></p>
        <p><a href="#pc/index" class="uk-button button-radius-remove btn-index-page">回到首页</a>&nbsp;&nbsp;
            <a href="#/pc/user/order" style="background-color: #fdd000"
               class="uk-button button-radius-remove btn-index-page">继续支付</a>
        </p>
    </div>
</main>

<ng-include src="'../../static/templates/mobile/footer.html '"></ng-include>