<link rel="stylesheet" href="../../static/css/profile_order.css" />

<!--begin: main-->
<main class="main-container uk-width-8-10 uk-container-center">
    <div class="wrapper" ng-controller="PCProfileOrderController">
        <ul class="switcher-nav uk-list uk-grid uk-grid-collapse uk-margin-top">
            <li class="uk-width-1-10"><a href="#profile" ng-click="switcher($event)">我的资料</a></li>
            <li class="uk-width-1-10"><a href="#order_list" ng-click="switcher($event)">我的订单</a></li>
        </ul>

        <ng-include src="template"></ng-include>
    </div>
</main>
<!--end: main-->