<link rel="stylesheet" href="../../static/css/article.css">

<!--begin: main-->
<main class="main-container uk-width-8-10 uk-container-center">
    <article class="uk-margin-large-top">
        <h4 class="padding-top padding-bottom"><i class="uk-margin-small-right icon-zffs padding-left-5"></i>付款方式</h4>
        <section id="zfbzf">
            <h5 class="font-weight-bold text-indent-12">支付宝支付</h5>
            <p>
                使用支付宝支付服务需要先注册一个支付宝账户。
            </p>
            <p>
                付款时可直接扫描二维码进行支付，也可输入您的支付账号和密码即可轻松实现支付订单的功能。
            </p>
        </section>
        <section id="wxzf">
            <h5 class="font-weight-bold text-indent-12">微信支付</h5>
            <p>
                微信支付是集成在微信客户端的支付功能，用户可以通过手机完成快速的支付流程。微信支付以绑定银行卡的快捷支付为基础，微信扫描二维码或输入支付密码即可安全、快捷、高效的支付订单。
            </p>
        </section>
    </article>
</main>
<!-- end: set address modal -->

<!--end: main-->