<footer class="generic-footer">
    <div class="wrapper">
        <!--beign: footer nav-->
        <nav class="uk-navbar">
            <ul class="uk-navbar-nav uk-grid uk-grid-collapse">
                <li class="uk-width-1-3">
                    <a class="font-size-10" href="#m/article/falvbaozhang"><i class="icon icon-flsm"></i>法律声明</a>
                </li>
                <li class="uk-width-1-3">
                    <a class="font-size-10" href="#m/article/xfzbz"><i class="icon icon-xfzbz"></i>消费者保障</a>
                </li>
                <!--<li class="uk-width-1-4">-->
                    <!--<a class="font-size-10" href="#m/help/how_buy"><i class="icon icon-bzzx"></i>帮助中心</a>-->
                <!--</li>-->
                <li class="uk-width-1-3">
                    <a class="font-size-10" href="#/m/about_us"><i class="icon icon-mobile-about-us"></i>了解AutoAsk</a>
                </li>
            </ul>
        </nav>
        <!--end: footer nav-->

        <!--begin: -->
        <article class="copyright-notice">
            <p class="font-size-10">版权所有&copy;2016南京爱思客汽车用品有限公司</p>
            <p class="font-size-10">苏ICP备16038536</p>
        </article>
        <!--end: -->
    </div>
</footer>