<style>
    footer {
        position: fixed;
        bottom: 0;
    }
</style>

<!--begin: main-->
<main class="main-container" cg-busy="myPromise">
    <div class="uk-margin-top" style="margin-bottom: 100px !important;" ng-init="channel = 'm'">
        <div class="uk-text-center">
            <div class="uk-width-9-10  uk-container-center">
                <h4 class="text-align-left">{{data.title}}</h4>
                <hr >
                <div class="uk-text-left" ng-bind-html="data.content | trustHtml"></div>
            </div>
    </div>
</main>
<!--end: main-->

<ng-include src="'../../static/templates/footer.html'"></ng-include>