<link rel="stylesheet" href="../../static/css/article.css">


<!--begin: main-->
<main class="main-container uk-container-center">
    <article class="padding-left">
        <h4 class="text-indent-12"><i class="icon icon-flsm "></i>法律声明</h4>
        <section>
            <p>衷心的欢迎您访问我们的网站（以下简称AutoASK）。</p>
            <p>AutoASK提醒您：在使用AutoASK各项服务前，请您务必仔细阅读并透彻理解本声明。如果您使用AutoASK，您的使用行为将被视为对本声明全部内容的认可。</p>
        </section>
        <section id="mzsm">
            <h5 class="font-weight-bold text-indent-12">免责声明</h5>
            <p>
                鉴于AutoASK提供的服务属于汽车用品服务，AutoASK上关于AutoASK用户注册的信息均由用户自行提供，用户依法应对其提供的任何信息承担全部责任。AutoASK对此等信息的准确性、完整性、合法性或真实性均不承担任何责任。此外，AutoASK对任何使用或提供本网站信息的商业活动及其风险不承担任何责任。            </p>
            <p>
                您应该对使用AutoASK提供的服务结果自行承担风险。AutoASK不做任何形式的保证：不保证服务一定满足您的要求，不保证服务不中断。因网络状况、通讯线路、第三方网站等任何原因而导致您不能正常使用AutoASK服务，AutoASK不承担任何法律责任。
            </p>
            <p>
                AutoASK尊重并保护所有使用AutoASK用户的个人隐私权，您注册的手机号码等个人资料，非经您亲自许可或根据相关法律、法规的强制性规定，AutoASK不会主动地泄露给第三方（因政府执法部门、国家司法部门要求除外）。AutoASK提醒您：您在使用AutoASK提供的搜索服务时输入的关键字将不被认为是您的个人隐私资料。            </p>
            <p>
                任何单位或个人认为AutoASK网页内容（包括但不限于AutoASK用户发布的信息）可能涉嫌侵犯其信息网络传播权，应该及时向AutoASK提出书面权利通知，并提供身份证明、权属证明、具体链接（URL）及详细侵权情况证明。AutoASK在收到上述法律文件后，将会依法尽快移除相关涉嫌侵权的内容。在此情况下，AutoASK依法不承担任何责任。              </p>
            <p>
                AutoASK转载作品（包括论坛内容）出于传递更多信息之目的，并不意味AutoASK（包括AutoASK关联企业）赞同其观点或证实其内容的真实性。由于地址不明等原因，AutoASK使用部分文字、摄影作品报酬未能及时支付，在此深表歉意，相关权利人可与中华版权代理中心联系协助解决。
            </p>
        </section>
        <section id="zscqsm">
            <h5 class="font-weight-bold text-indent-12">知识产权声明</h5>
            <p>
                AutoASK拥有本网站内所有信息内容（除AutoASK用户的商品信息外，包括但不限于文字、图片、软件、音频、视频）的版权。 任何被授权的浏览、复制、打印和传播属于本网站内信息内容都不得用于商业目的且所有信息内容及其任何部分的使用都必须包括此版权声明； AutoASK（www.autoask.com）所有的产品、技术与所有程序均属于AutoASK知识产权。“AutoASK”、AutoASK其他产品服务名称及相关图形、标识等为AutoASK的注册商标。未经AutoASK许可，任何人不得擅自（包括但不限于：以非法的方式复制、传播、展示、镜像、上载、下载）使用。否则，AutoASK将依法追究法律责任。
            </p>
        </section>
        <section id="ysqsm">
            <h5 class="font-weight-bold text-indent-12">隐私权声明</h5>
            <p>
                AutoASK非常重视对您隐私的保护，在您使用AutoASK提供的服务前，请您仔细阅读以下声明。为了给您提供更准确、更有个性化的服务，AutoASK可能会以如下方式，使用您提交的个人信息。但AutoASK会以高度的勤勉、审慎义务对待这些信息，在未征得您许可的情况下，不会将这些信息对外披露或向第三方提供。
            </p>
            <p>
                AutoASK会在您自愿选择服务或提供信息的情况下收集您的个人信息，并将这些信息进行整合，以便向您提供更好的用户服务。请您在注册时及时、详尽及准确的提供个人资料，并不断更新注册资料，符合及时、详尽准确的要求。如果因注册信息不真实而导致的问题，由您自行承担相应的后果。请您不要将您的帐号、密码转让或出借予他人使用。如您发现您的帐号遭他人非法使用，应立即通知AutoASK。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，AutoASK不承担责任。
            </p>
            <p>
                当您使用AutoASK提供的服务时，服务器会自动记录一些信息，包括URL、IP地址、浏览器的类型和使用的语言以及访问日期和时间等。
            </p>
            <p>
                在如下情况下，AutoASK会根据您的意愿或法律的规定披露您的个人信息，由此引发的问题将由您个人承担：
            </p>
            <p>
                （1）事先获得您的授权；
            </p>
            <p>
                （2）只有透露您的个人资料，才能提供您所要求的产品和服务；
            </p>
            <p>
                （3）根据有关的法律法规要求；
            </p>
            <p>
                （4）按照相关政府主管部门的要求；
            </p>
            <p>
                （5）为维护AutoASK的合法权益。
            </p>
            <p>
                （6）您同意让第三方共享资料。
            </p>
            <p>
                （7）我们发现您违反了AutoASK服务协议或相关规则，根据协议约定或相关规则规定应当披露您的个人信息。
            </p>
            <p>
                （8）我们需要向代表我们提供产品或服务的公司提供资料（除非我们另行通知你，否则这些公司无权使用你的身份识别资料）。
            </p>
            <p>
                AutoASK会始终致力于在充分保护您隐私的前提下，为您提供更优质的体验和服务。
            </p>
        </section>
    </article>
</main>
<!--end: main-->

<ng-include src="'../../static/templates/footer.html'"></ng-include>