<link rel="stylesheet" href="../../static/lib/flexslider/flexslider.min.css" />
<link rel="stylesheet" href="../../static/css/index.css" />
<style type="text/css">


    .li-width{
        /*height:200px;*/
        box-size:border-box;
        display: block;
    }

    @media screen and (min-width:320px) and (max-width:359px){   .li-width{     width: 100%;height:200px}
    }
    @media screen and (min-width:360px) and (max-width:374px){ .li-width{    width: 100%;height:225px}
    }
    @media screen and (min-width:375px) and (max-width:383px){ .li-width{    width: 100%;height:234.375px}
    }
    @media screen and (min-width:384px) and (max-width:399px){ .li-width{     width: 100%;height:235px}
    }
    @media screen and (min-width:400px) and (max-width:413px){ .li-width{     width: 100%;height:250px}
    }
    @media screen and (min-width:414px)and (max-width:423px){ .li-width{     width: 100%;height:258.75px}
    }
    @media screen and (min-width:424px)and (max-width:479px){ .li-width{     width: 100%;height:265px}
    }
    @media screen and (min-width:480px)and (max-width:539px){  .li-width{     width: 100%;height:300px}
    }
    @media screen and (min-width:540px)and (max-width:566px){  .li-width{     wwidth: 100%;height:337.5px}
    }
    @media screen and (min-width:566px)and (max-width:599px){  .li-width{     width: 100%;height:354.5px}
    }
    @media screen and (min-width:600px)and (max-width:719px){  .li-width{     width: 100%;height:375px}
    }
    @media screen and (min-width:720px)and (max-width:767px){  .li-width{     width: 100%;height:450px}
    }
    @media screen and (min-width:768px){   .li-width{     width: 100%;height:478.75px}
    }
    #banner-num{
        position: absolute;
        bottom:10px;
        right:50px;
        margin:0;
        padding: 0;
        z-index: 1;
    }
    #banner-num >li{
        list-style: none;
        display: inline-block;
        /*background-color: #333;*/
        color: #fff;
        width: 40px;
        height:6px;
        opacity: .6;
        /*background-color: #222;*/
        /*e0b818*/
    }
    .normal,.dark{
        background-color: #222;
    }
    .highlight{
        background-color: #fccf1b;
    }
    .yellow{
        background-color: #fccf1b;
    }
</style>

<div ng-init="homeInit()" style="display: none;"></div>
<!--begin: banner-->
<div class="slider banner home-banner">
    <div style="position: relative" class="flexslider">
        <ul  class="slides">
            <li class="uk-text-center " ng-repeat="banner in data.bannerList track by $index">
                <a class="li-width" href="{{banner.linkUrl}}">
                    <img ng-src="{{banner.picUrl}}" width="" alt="" style="width: 100%;height: 100%;"/>
                </a>
            </li>
            <!--<li class="uk-text-center " >-->
                <!--<a class="li-width" ng-href="">-->
                    <!--<img ng-src="{{arrImgs[index]}}" width="" alt="" style="width: 100%;height: 100%;"/>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
        <ul id="banner-num" name="">
            <li ng-class="$index===changeNum?'yellow':'dark'" style="margin-right: 10px;" ng-repeat="banner in data.bannerList track by $index"></li>


        </ul>
    </div>

    <div class="custom-navigation">
        <div class="custom-controls-container"></div>
    </div>
</div>
<!--end: banner-->

<input type="hidden" name="clientType" value="m" />
<!--begin: main-->
<main class="main-container" cg-busy="myPromise">
    <!--begin: 产品展示 -->
    <article id="mobile-home" class="product-display">
        <!--begin: 分类1-->
        <section class="product-classification">
            <h4><i class="icon icon-title-decorate"></i>THE NEWGEN SERIES </h4>
            <div class="product-list">
                <ul class="uk-list uk-grid uk-grid-collapse">
                    <li class="uk-width-1-2" data-product-detail-url="m/product/detail/{{product.productId}}" ng-repeat="product in data.newGenList" ng-click="onProductIntro($event)">
                        <div class="product-picture"><img ng-src="{{product.logoUrl}}" /></div>
                        <div class="product-info" ng-show="product.productNameEn">
                            <dl class="uk-text-left">
                                <dt>{{product.productNameEn}}</dt>
                                <dd class="margin-top-5 ">{{product.description}}</dd>
                                <dd style="font-weight: 800"  class="margin-top-5">¥  {{product.priceStr}}</dd>
                            </dl>

                            <!-- <a href="" class="btn-buy">立即购买</a> -->
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--end: 分类1-->

        <!--begin: 分类2-->
        <section class="product-classification">
            <h4><i class="icon icon-title-decorate"></i>THE CLASSIC SERIES</h4>
            <div class="product-list">
                <ul class="uk-list uk-grid uk-grid-collapse">
                    <li class="uk-width-1-2" data-product-detail-url="m/product/detail/{{product.productId}}" ng-repeat="product in data.classicList" ng-click="onProductIntro($event)">
                        <div class="product-picture"><img   ng-src="{{product.logoUrl}}" /></div>
                        <div class="product-info" ng-show="product.productNameEn">
                            <dl class="uk-text-left">
                                <dt>{{product.productNameEn}}</dt>
                                <dd class="margin-top-5 ">{{product.description}}</dd>
                                <dd style="font-weight: 800"  class="margin-top-5">¥  {{product.priceStr}}</dd>
                            </dl>
                            <!-- <a href="" class="btn-buy">立即购买</a> -->
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--end: 分类2-->

        <!--begin: 分类3-->
        <section class="product-classification">
            <h4><i class="icon icon-title-decorate"></i>THE CLASSIC OTHERS</h4>
            <div class="product-list">
                <ul class="uk-list uk-grid uk-grid-collapse">
                    <li class="uk-width-1-2" data-product-detail-url="m/product/detail/{{product.productId}}" ng-repeat="product in data.classicOtherList" ng-click="onProductIntro($event)">
                        <div class="product-picture"><img ng-src="{{product.logoUrl}}" /></div>
                        <div class="product-info" ng-show="product.productNameEn">
                            <dl class="uk-text-left">
                                <dt>{{product.productNameEn}}</dt>
                                <dd class="margin-top-5 ">{{product.description}}</dd>
                                <dd style="font-weight: 800"  class="margin-top-5">¥  {{product.priceStr}}</dd>
                            </dl>
                            <!-- <a href="" class="btn-buy">立即购买</a> -->
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--end: 分类3-->
    </article>
    <!--end: 产品展示 -->
</main>
<!--end: main-->

<ng-include src="'../../static/templates/footer.html'"></ng-include>

<script type="text/javascript">


//    window.onload=function(){
//        doToggleImage()
//    }
//    var index=0;
//
//    function doToggleImage(){
//        var ul=document.getElementById("banner-num");
//
//        var lis=ul.getElementsByTagName("li");
//        // 设置所有li为默认样式
//        for(var i=0;i<3;i++){
//            lis[i].className="normal";
//        }
//        // 再将当前图片对应的背景改成高亮样式
//        lis[index].className="highlight";
//        // index循环计数
//        index++;
//        index %=3;
//        setTimeout(doToggleImage,2400);
//    }
</script>
<script type="text/javascript" src="../../static/lib/flexslider/jquery.flexslider-min.js"></script>