<link rel="stylesheet" href="../../static/css/invoice.css" />

<main class="uk-height-1-1 background-color-EFEEEF invoice" ng-controller="InvoiceController" ng-init="getInvoice()">
    <input type="text" ng-init="channel='m'" style="display: none" />

    <!--<ul class="uk-list background-color-FFF invoice-menu-list" ng-if="data !== ''">-->
        <!--<li class="uk-clearfix" ng-touchstart="goToURL('m/invoice/common/preview')" ng-if="data.type === INVOICE_TYPE.COMMON">-->
            <!--<a href="">普通发票预览<i class="uk-float-right uk-icon-chevron-right"></i></a>-->
        <!--</li>-->
        <!--<li class="uk-clearfix" ng-touchstart="goToURL('m/invoice/vat/preview')" ng-if="data.type === INVOICE_TYPE.VAT">-->
            <!--<a href="">增值税发票预览<i class="uk-float-right uk-icon-chevron-right"></i></a>-->
        <!--</li>-->
    <!--</ul>-->

    <!--<ul class="uk-list uk-margin-top background-color-FFF invoice-menu-list" ng-if="data === ''">-->
        <!--<li class="uk-clearfix" ng-click="goToURL('m/invoice/common/add')">-->
            <!--<a href="">添加普通发票<i class="uk-float-right uk-icon-chevron-right"></i></a>-->
        <!--</li>-->
        <!--<li class="uk-clearfix" ng-click="goToURL('m/invoice/vat/add')">-->
            <!--<a href="">添加增值税发票<i class="uk-float-right uk-icon-chevron-right"></i></a>-->
        <!--</li>-->
    <!--</ul>-->

    <!--<ul class="uk-list background-color-FFF uk-margin-top invoice-menu-list" ng-if="data !== ''">-->
        <!--<li class="uk-clearfix" ng-click="goToURL('m/invoice/common/edit')" ng-if="data.type === INVOICE_TYPE.COMMON">-->
            <!--<a href="">编辑普通发票<i class="uk-float-right uk-icon-chevron-right"></i></a>-->
        <!--</li>-->
        <!--<li class="uk-clearfix" ng-click="goToURL('m/invoice/vat/edit')" ng-if="data.type === INVOICE_TYPE.VAT">-->
            <!--<a href="">编辑增值税发票<i class="uk-float-right uk-icon-chevron-right"></i></a>-->
        <!--</li>-->
    <!--</ul>-->

    <ul class="uk-list uk-margin-top background-color-FFF invoice-menu-list" ng-if="data === ''">
        <li class="uk-clearfix" ng-click="goToURL('m/invoice/common/add')">
            <a href="">添加普通发票<i class="uk-float-right uk-icon-chevron-right"></i></a>
        </li>
        <!--<li class="uk-clearfix" ng-click="goToURL('m/invoice/vat/add')">-->
            <!--<a href="">添加增值税发票<i class="uk-float-right uk-icon-chevron-right"></i></a>-->
        <!--</li>-->
    </ul>

    <form class="uk-form" ng-if="data.type === INVOICE_TYPE.COMMON">
        <fieldset class="background-color-FFF">
            <div class="uk-form-row uk-grid uk-grid-collapse">
                <label for="" class="uk-width-1-3">发票抬头</label>
                <div class="uk-form-controls uk-width-2-3">
                    <input type="text" class="uk-width-1-1" placeholder="请输入发票抬头" ng-model="data.commonInvoice.header" />
                </div>
            </div>
            <div class="uk-form-row uk-grid uk-grid-collapse">
                <label for="" class="uk-width-1-3">发票内容</label>
                <textarea class="uk-margin-top uk-width-1-1">明细</textarea>
            </div>
        </fieldset>

        <fieldset class="uk-margin-top background-color-FFF">
            <div class="uk-form-row uk-grid uk-grid-collapse">
                <button type="button" class="uk-button uk-button-large uk-button-primary uk-width-1-1" ng-click="submitInvoice(INVOICE_TYPE.COMMON, data)">保存修改</button>
                <button type="button" class="uk-button uk-button-large uk-width-1-1 uk-margin-top" ng-click="goToURL('m/shopping_cart')">放弃修改</button>
            </div>
        </fieldset>
    </form>

    <form class="uk-form" ng-if="data.type === INVOICE_TYPE.VAT">
        <fieldset class="background-color-FFF">
            <div class="uk-form-row uk-grid uk-grid-collapse">
                <label for="" class="uk-width-1-3">公司名称</label>
                <div class="uk-form-controls uk-width-2-3">
                    <input type="text" class="uk-width-1-1" placeholder="请输入公司名称" readonly ng-model="data.vatInvoice.company" />
                </div>
            </div>
            <div class="uk-form-row uk-grid uk-grid-collapse">
                <label for="" class="uk-width-1-3">税号</label>
                <div class="uk-form-controls uk-width-2-3">
                    <input type="text" class="uk-width-1-1" placeholder="请输入税号" readonly ng-model="data.vatInvoice.taxSerial" />
                </div>
            </div>
            <div class="uk-form-row uk-grid uk-grid-collapse">
                <label for="" class="uk-width-1-3">地址</label>
                <div class="uk-form-controls uk-width-2-3">
                    <input type="text" class="uk-width-1-1" placeholder="请输入地址" readonly ng-model="data.vatInvoice.address" />
                </div>
            </div>
            <div class="uk-form-row uk-grid uk-grid-collapse">
                <label for="" class="uk-width-1-3">电话</label>
                <div class="uk-form-controls uk-width-2-3">
                    <input type="tel" class="uk-width-1-1" placeholder="请输入电话" readonly ng-model="data.vatInvoice.phone" />
                </div>
            </div>
            <div class="uk-form-row uk-grid uk-grid-collapse">
                <label for="" class="uk-width-1-3">银行</label>
                <div class="uk-form-controls uk-width-2-3">
                    <input type="text" class="uk-width-1-1" placeholder="请输入银行" readonly ng-model="data.vatInvoice.bankName" />
                </div>
            </div>
            <div class="uk-form-row uk-grid uk-grid-collapse">
                <label for="" class="uk-width-1-3">账号</label>
                <div class="uk-form-controls uk-width-2-3">
                    <input type="text" class="uk-width-1-1" placeholder="请输入账号" readonly ng-model="data.vatInvoice.account" />
                </div>
            </div>
        </fieldset>

        <fieldset class="uk-margin-top background-color-FFF">
            <div class="uk-form-row uk-grid uk-grid-collapse">
                <button type="button" class="uk-button uk-button-large uk-button-primary uk-width-1-1" ng-click="goToURL('m/invoice/vat/edit')">修改发票</button>
            </div>
        </fieldset>
    </form>
</main>