<link rel="stylesheet" href="../../static/css/pay.css" />

<!--begin: main-->
<main class="main-container">
    <div class="wrapper uk-text-center padding-large-top">
        <p><img src="../../static/img/icon_false.png" alt="支付失败了"></p>
        <p class="font-weight-bold">支付失败</p>
        <p><a href="#m/index" class="uk-button button-radius-remove btn-index-page">回到首页</a></p>
        <a href="#/pc/user/order" style="background-color: #fdd000" class="uk-button button-radius-remove btn-index-page">继续支付</a>
    </div>
</main>