<link rel="stylesheet" href="../../static/css/profile_order.css" />

<!--begin: main-->
<main class="main-container" cg-busy="myPromise" ng-init="getCarList()">
    <div class="wrapper uk-margin-top">
        <form class="uk-form background-color-EFEEEF profile">
            <fieldset class="background-color-FFF padding-left padding-bottom">
                <div class="uk-form-row uk-cleafix" ng-click="goToAddCarPage('m/user/add/car')">
                    <label class="uk-form-label">新增车型</label>
                    <i class="uk-icon-chevron-right uk-float-right uk-margin-right"></i>
                </div>
            </fieldset>

            <fieldset class="background-color-FFF padding-left padding-bottom" ng-if="carList.length > 0">
                <div class="uk-form-row uk-cleafix border-remove">
                    <label class="uk-form-label">已有车型</label>
                </div>

                <div class="uk-clearfix not-empty-info-wrapper padding-top" ng-repeat="car in carList">
                    <!--XXX: 过滤器实现-->
                    <span class="address-info">{{car.model}}{{car.detail}}</span>
                    <i class="uk-float-right uk-margin-right icon icon-close" ng-click="deleteCarModel($index)"></i>
                </div>
            </fieldset>
        </form>
    </div>
</main>
<!--end: main-->