<link rel="stylesheet" href="../../static/css/invoice.css" />

<main class="uk-height-1-1 background-color-EFEEEF invoice" ng-controller="VoucherController">
    <form class="uk-form" ng-init="channel = 'm'">
        <fieldset class="background-color-FFF">
            <div class="uk-form-row uk-grid uk-grid-collapse">
                <div class="uk-width-1-5" style="line-height: 30px">输入卡号</div>
                <div class="uk-form-controls uk-width-2-3">
                    <input type="text" class="uk-width-1-1" placeholder="请输入卡号" ng-model="data.cardId" />
                </div>
            </div>
        </fieldset>

        <fieldset class="uk-margin-top background-color-FFF">
            <div class="uk-form-row uk-grid uk-grid-collapse">
                <button type="button" class="uk-button uk-button-large uk-button-primary uk-width-1-1" ng-click="submit()">验证卡券</button>
                <button type="button" class="uk-button uk-button-large uk-width-1-1 uk-margin-top" ng-click="goToURL('m/shopping_cart')">取消验证</button>
            </div>
        </fieldset>
    </form>
</main>