<link rel="stylesheet" href="../../static/css/article.css">

<main class="main-container uk-container-center uk-margin-large-bottom">
    <article class="padding-left">
        <h4 class="text-indent-12"> <i class="icon icon-xfzbz "></i>消费者保障</h4>
        <section>
            <p>
                消费者保障服务支持自消费者完成交易付款之日起至交易成功后15天内保障消费者权益，如有商品质量问题、描述不符或付款后未收到货等，全程支持退货退款，退货运费由AutoASK承担。若AutoASK不履行承诺，以AutoASK保证金给予先行赔付，保障每一个消费者的网购权益。
            </p>
        </section>
        <section>
            <h5 class="font-weight-bold text-indent-12">品质保障</h5>
            <p>
                AutoASK的产品从研发、生产、检测到产品包装的各环节，产品质量严格按照国标、行标和企标要求进行检验。不定期邀请有关专家监督、指导工作，严把质量关。产品质量有保障！
            </p>
        </section>
        <section>
            <h5 class="font-weight-bold text-indent-12">发货时间</h5>
            <p>对于消费者提交的订单，第一时间及时处理并按时发货；</p>
            <p>如遇不可抗力的因素而影响发货时间时，AutoASK将与消费者协商解决；</p>
        </section>
        <section>
            <h5 class="font-weight-bold text-indent-12">退货承诺</h5>
            <p>
                自客户收到商品之日起（以签收日期为准）15日内，如商品及包装出售时原装没有开封，不影响我司进行二次销售，我们可提供全额退货服务。非质量问题不给于退换货物。质量问题由我司承担。
            </p>
            <p>非质量问题退换货商品必须满足以下三点退换货条件：</p>
            <p>1保证商品未受损坏，影响我司进行二次销售；</p>
            <p>2保证商品的外包装完好无损（包括填充物及外包装盒）</p>
            <p>3保证商品附件、说明书、吊牌、赠品等的完整；</p>
        </section>
    </article>
</main>
<!-- end: set address modal -->

<!--end: main-->
<ng-include src="'../../static/templates/footer.html '"></ng-include>