main.main-container {
    margin-bottom: 0;
}

.service-list-wrap .service-list {
    border-right: 1px solid #e6e6e6;
    min-height: 800px;
}

.service-list-wrap .service-list li {
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
    padding: 15px;
}

.service-list-wrap .service-list li a {
    color: #333;
}